button{
    background-color: deepskyblue;
    border-color: aliceblue;
    box-shadow: 0 0 10px red;
    border-radius: 10px 5px;
    margin: 0 10px;
    text-shadow: 0 0 2px white;
    font-size: 20px;
    font-weight: bold;
}