p{
    text-align: center;
}

header{
    padding-bottom: 10px;
    background-color: aquamarine;
    border-bottom: 5px solid red;
}

a {
    margin: 0 5px;
    background-color: blueviolet;
    color: white;
    padding: 1px 5px 3px;
    border-radius: 5px 20px;
    text-decoration: none;
}