button{
    background-color: deepskyblue;
    border-color: aliceblue;
    text-shadow: 0 0 2px white;
    box-shadow: 0 0 10px red;
}
.large-btn{
    border-radius: 10px 5px;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.small-btn{
    border-radius: 5px;
    margin: 0 5px;
    font-size: 16px;
}


